@mixin base-font-size {
    font-size: 16px;
    line-height: 19px;
}

@mixin Bold {
    font-weight: bold;
    font-style: normal;
}

@mixin Medium {
    font-weight: 500;
    font-style: normal;
}

@mixin Regular {
    font-weight: normal;
    font-style: normal;
}

@mixin complete-full-center  {
    align-items: center;
    justify-content: center;
}